/* Leaderboard Page Styling */
.leaderboard-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Additional Leaderboard styling */
.leaderboard-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

table {
    width: 60%;
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-top: 0rem;
}

thead th {
    background: linear-gradient(135deg, #85b1da, #9d77c4);
    color: white;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: left;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
}

thead th:first-child {
    border-radius: 10px 0 0 10px;
}

thead th:last-child {
    border-radius: 0 10px 10px 0;
}

tbody tr {
    background: linear-gradient(135deg, #f6f9fc, #e0e7ec);
    color: #333;
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

tbody tr:hover {
    background: linear-gradient(135deg, #e0e7ec, #f6f9fc);
    cursor: pointer;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tbody td:first-child {
    border-radius: 10px 0 0 10px;
}

tbody td:last-child {
    border-radius: 0 10px 10px 0;
}

.rank {
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
    position: relative;
}

.rank.gold {
    color: #f7d200;
}

.rank.silver {
    color: #adadad;
}

.rank.bronze {
    color: #c2782e;
}

.table-nav {
    margin-top: 15px;
    font-size: 1.1rem;
    color: #bbb;
    cursor: pointer;
}