html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    font-size: 16px;
}

.logo {
    font-family: 'DynaPuff', cursive;
    color: #fff;
    text-decoration: none;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-family: 'Ancizar Serif', serif;
    font-size: 1.75rem;
    font-weight: 800;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 1;
}

nav {
    width: 100%;
    background-color: #85b1da;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    display: inline-block;
    border-radius: 10px;;
}

nav li a {
    color: rgb(0, 0, 0);
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 500;
}

nav li:hover {
    background-color: #6a9bc3;
}

ul.nav-left {
    padding-left: 20px;
}

ul.nav-right {
    padding-right: 20px;
}

main {
    text-align: center;
    position: relative;
    top: 70px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    color: #fff;
    min-width: 400px;
    max-width: 1200px;
    width: 50%;
    height: 0.5rem;
    margin: auto;
    padding: 200px 20px;
    text-align: center;
}

.btn-primary {
    background-color: #85b1da;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'DynaPuff', cursive;
    font-size: 18px;
    font-weight: 700;
}

.btn-primary:hover {
    background-color: #6a9bc3;
    color: rgb(255, 255, 255);
}

.btn-primary:active {
    background-color: #578bb4;
    color: rgb(255, 255, 255);
}

.heading-image {
    display: flex;
    text-align: center;
    height: 550px;
    background-image: url('../images/guitar.png');
    background-size: cover;
    background-position: center;
}

.features {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    margin: 0 auto;
    margin-top: 110px;
    margin-bottom: 40px;
}

.showcase-text {
    padding: 30px;
    width: 500px;
    min-width: 300px;
    max-width: 700px;
}

.showcase-image {
    width: auto;
    height: 250px;
    object-fit: contain;
    background-image: url('./guitar2.png');
}

.start-section {
    text-align: center;
    margin: 50px auto;
}

footer {
    background-color: #85b1da;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
}

.game-options {
    color: rgb(0, 0, 0);
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 5px;
    width: 90%;
    max-width: 1300px;
    display: flex;
    /* justify-content: space-between; */
}

.game-options h3 {
    margin: 0;
}

.icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-decoration: none;
  margin-right: 20px;
}

.icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.icon:hover img {
    opacity: 0.65;
    cursor: pointer;
}

.game-container {
    width: 90%;
    aspect-ratio: 16 / 9;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
}

.start-game {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 700;
    background-color: #85b1da;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.start-game:hover {
    background-color: #6a9bc3;
}

.leaderboard-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    margin-top: 20px;
}

.profile-container {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 80%;
    padding: 20px 15px;
    background-color: rgba(232, 232, 232, 0.5);
    border-radius: 25px;
}

.profile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-names {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 15px;
}

.profile-header-content {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.profile-details {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    text-align: left;
}

.stats-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    justify-content: center;
    margin-top: 20px;
    width: 80%;
    padding: 20px 15px;
    background-color: rgba(232, 232, 232, 0.5);
    border-radius: 25px;
}

.stats-showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.activity-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    justify-content: center;
    margin-right: 20px;
    width: 80%;
    padding: 20px 15px;
    background-color: rgba(232, 232, 232, 0.5);
    border-radius: 25px;
}

.friends-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    padding: 20px 15px;
    background-color: rgba(232, 232, 232, 0.5);
    border-radius: 25px;
}

.friends-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.friends-list li {
    margin: 10px;
    text-align: center;
}

.logout {
    margin-bottom: 30px;
    padding: 10px 20px;
}

.edit-profile {
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.profile-display-name {
    font-size: 24px;
    margin: 0;
}

.profile-username {
    font-size: 18px;
    margin: 0;
}

.profile-country {
    font-size: 14px;
    margin: 15px 0px;
}