/* Default/Global Styles */
html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    color: #ebebeb;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    background: linear-gradient(155deg, #393D3F 5%, #101111 85%);
}

/* Logo Styling */
.logo {
    font-family: 'DynaPuff', cursive;
    color: #fff;
    text-decoration: none;
}

/* Heading Styles */
h1 { 
    font-size: 2.75rem;
}

h2 {
    font-family: 'Ancizar Serif', serif;
    font-size: 1.75rem;
    font-weight: 800;
}

/* Header Styling */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 1;
}

/* Navigation Styling */
nav {
    width: 100%;
    background-color: #393D3F;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

/* Navigation List Items */
nav li {
    display: inline-block;
    border-radius: 10px;
}

nav li a {
    color: #ebebeb;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 500;
}

nav li:hover {
    background-color: #5a6063;
}

ul.nav-left {
    padding-left: 20px;
}

ul.nav-right {
    padding-right: 20px;
}

/* Main Content Styling */
main {
    text-align: center;
    position: relative;
    top: 70px;
    padding-bottom: 50px;
}

/* Heading Container Styling */
.heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    color: #fff;
    min-width: 400px;
    max-width: 1200px;
    width: 50%;
    height: 0.5rem;
    margin: auto;
    padding: 200px 20px;
    text-align: center;
}

.heading-image {
    display: flex;
    text-align: center;
    height: 550px;
    background-image: url('../images/guitar.png');
    background-size: cover;
    background-position: center;
}

/* Button Styling */
.btn-primary {
    background: linear-gradient(135deg, #c8efff, #85b1da);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'DynaPuff', cursive;
    font-size: 18px;
    font-weight: 700;
}

.btn-primary:hover {
    background: linear-gradient(135deg, #a4d8ff, #6a9bc3);
    color: rgb(255, 255, 255);
}

.btn-primary:active {
    background: linear-gradient(135deg, #c8efff, #85b1da);
    color: rgb(255, 255, 255);
}

/* Showcase Section Styling */
.features {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    max-width: 1000px;
    min-width: 800px;
    margin: 0 auto;
    margin-top: 110px;
    margin-bottom: 40px;
    padding: 30px 0px;
}

.showcase-text {
    padding: 30px;
    width: 500px;
    min-width: 300px;
    max-width: 700px;
}

.showcase-image {
    margin: 30px;
    width: auto;
    height: 250px;
    border-radius: 20px;
    object-fit: contain;
    background-image: url('./guitar2.png');
}

/* Start Section Styling */
.start-section {
    text-align: center;
    margin: 50px auto;
}

/* Footer Styling */
footer {
    margin-top: 50px;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
}

/* Game Page Styling */
.game-options {
    color: rgb(0, 0, 0);
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 5px;
    width: 90%;
    max-width: 1300px;
    display: flex;
    /* justify-content: space-between; */
}

.game-options h3 {
    margin: 0;
}

.icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-decoration: none;
  margin-right: 20px;
  filter: invert(0.9);
}

.icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.icon:hover img {
    opacity: 0.65;
    cursor: pointer;
}

.game-container {
    width: 90%;
    aspect-ratio: 16 / 9;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #575757;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.start-game {
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(135deg, #c8efff, #85b1da);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.start-game:hover {
    background: linear-gradient(135deg, #a4d8ff, #6a9bc3);
    color: rgb(255, 255, 255);
}

.start-game:active {
    background: linear-gradient(135deg, #c8efff, #85b1da);
    color: rgb(255, 255, 255);
}

/* Leaderboard Page Styling */
.leaderboard-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Profile Page Styling */
.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    margin-top: 20px;
}

.profile-container {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 80%;
    max-width: 900px;
    padding: 20px 15px;
    background-color: rgba(232, 232, 232, 0.5);
    color: rgb(20, 20, 20);
    border-radius: 25px;
}

.profile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-names {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 15px;
}

.profile-header-content {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.profile-details {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    text-align: left;
}

.stats-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    justify-content: center;
    margin-top: 20px;
    width: 80%;
    max-width: 900px;
    padding: 20px 15px;
    background-color: rgba(232, 232, 232, 0.5);
    border-radius: 25px;
}

.stats-showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.activity-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    justify-content: center;
    margin-right: 20px;
    width: 80%;
    max-width: 900px;
    padding: 20px 15px;
    background-color: rgba(232, 232, 232, 0.5);
    border-radius: 25px;
}

.friends-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    max-width: 900px;
    padding: 20px 15px;
    background-color: rgba(232, 232, 232, 0.5);
    border-radius: 25px;
}

.friends-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.friends-list li {
    margin: 10px;
    text-align: center;
}

.logout {
    margin-bottom: 30px;
    padding: 10px 20px;
}

.edit-profile {
    color: rgb(20, 20, 20);
    background: linear-gradient(135deg, #c8efff, #85b1da);
    padding: 0px 10px;
    font-weight: 600;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.edit-profile:hover {
    background: linear-gradient(135deg, #85b1da, #9d77c4);
    color: rgb(255, 255, 255);
}

.profile-display-name {
    font-size: 24px;
    margin: 0;
}

.profile-username {
    font-size: 18px;
    margin: 0;
}

.profile-country {
    font-size: 14px;
    margin: 15px 0px;
}

/* Login/Signup Form Styling */
form {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: flex-start;
    width: 80%;
    max-width: 900px;
    background: rgba(232, 232, 232, 0.5);
    border-radius: 40px;
    padding: 2rem 1.6rem;
    margin: 20px auto;
}

label {
    display: flex;
    color: rgb(20, 20, 20);
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    display: flex;
    align-self: center;
    background: linear-gradient(135deg, #c8efff, #85b1da);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.forgot-password {
    background: linear-gradient(135deg, #c8efff, #85b1da);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.google-button {
    background: linear-gradient(135deg, #ff5349, #fc9879);
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.google-button-darker {
    background: linear-gradient(135deg, #ff362c, #ff7d55);
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Extra Footer Styling */
.footer-push {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Additional Profile styling */
.stat-card {
    background: linear-gradient(135deg, #85b1da, #9d77c4);
    color: white;
    padding: 1.5rem;
    margin: 0.5rem 1rem;
    border-radius: 15px;
    text-align: center;
    font-weight: 600;
    font-size: 1.1rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.graph-card {
    background: linear-gradient(135deg, #f6d365, #fda085);
    color: white;
    padding: 1.5rem 4rem;
    border-radius: 15px;
    text-align: center;
    align-content: center;
    font-weight: 600;
    font-size: 1.1rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    height: 15.5rem;
    transition: transform 0.3s ease;
}
.recent-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.activity-container ul {
    list-style-type: none;
    padding: 0;
    width: 90%;
}

.activity-container li {
    color: rgb(20, 20, 20);
    background: linear-gradient(90deg, #f8f9fa, #e9ecef);
    padding: 1rem;
    margin-bottom: 0.75rem;
    border-radius: 15px;
    border-left: 4px solid #85b1da;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.add-friend {
    background: linear-gradient(135deg, #c8efff, #85b1da);
    margin-top: 20px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-friend:hover {
    background: linear-gradient(135deg, #85b1da, #9d77c4);
    color: white;
}

/* Logout Button - There is a duplicate, expect small issues! */
.logout {
    background: linear-gradient(135deg, #FF746C, #FFB199);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    margin-top: 30px;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout:hover {
    background: linear-gradient(135deg, #FFB199, #FF746C);
    color: white;
}

/* Additional Leaderboard styling */
.leaderboard-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

table {
    width: 60%;
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-top: 0rem;
}

thead th {
    background: linear-gradient(135deg, #85b1da, #9d77c4);
    color: white;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: left;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
}

thead th:first-child {
    border-radius: 10px 0 0 10px;
}

thead th:last-child {
    border-radius: 0 10px 10px 0;
}

tbody tr {
    background: linear-gradient(135deg, #f6f9fc, #e0e7ec);
    color: #333;
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

tbody tr:hover {
    background: linear-gradient(135deg, #e0e7ec, #f6f9fc);
    cursor: pointer;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tbody td:first-child {
    border-radius: 10px 0 0 10px;
}

tbody td:last-child {
    border-radius: 0 10px 10px 0;
}

.rank {
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
    position: relative;
}

.rank.gold {
    color: #f7d200;
}

.rank.silver {
    color: #adadad;
}

.rank.bronze {
    color: #c2782e;
}

.table-nav {
    margin-top: 15px;
    font-size: 1.1rem;
    color: #bbb;
    cursor: pointer;
}